.canales
  margin-top 100px
  .parrafo
      width: 100%
      margin-top 35px

.cont-canales
  display flex
  justify-content space-between
  flex-wrap wrap

.canal
  /* Rectangle 31: */
  border: 2px solid $verde3;
  /* Rectangle 32: */
  /* 	•	Segura y rapida a: */
  font-size: 1em;
  color: $negro;
  line-height: 16px;
  height 550px
  width 300px
  background-color white
  border-radius 5px 5px 0 0
  border-top 12px solid $verde3
  display inline-block
  margin-top 1.8em
  box-sizing border-box
  text-align center
  position relative
  h4
    color $verde3
    font-size 1.5em
  p
    text-align left
    padding 0em 1.5em
  .cont-ventajas
    position absolute
    bottom 0px
    height 170px
    margin 0
    padding 0
    width 100%
  span
    color $verde3
  ul
    text-align left
    padding 0 2em 0 3em
    li
      margin-top 8px
  &:hover
    cursor pointer

.ultimo-registro
  margin-top 100px
  text-align center