// Colores verdes monocromaticos
$verde  = #1ABBB9;
$verde1 = #008885;
$verde2 = #00AFAB;
$verde3 = #4AC9C6;
$verde4 = #78DAD8;

// Acentuación
$naranja = #FF9D3A;
$naranja1 = #D06C00;
$naranja2 = #FF8600;
$naranja3 = #FFB066;
$naranja4 = #FFC591;

$negro = #292929;

$blanco_menu = rgba(#fff,0.95);

