.como_iniciar
  margin-top: 100px

.cont_pasos
  display flex
  justify-content center
  align-items flex-start

  .pasos
    width  33%
    box-sizing border-box
    text-align center
    padding 5em 1em 0em 0

    span
      background-color $verde3
      color white
      font-size 2em
      font-weight 900
      line-height 2em
      display inline-block
      padding 0.3em 1em
      border-radius 50%
    p
      text-align left

    ul
      text-align left
      font-style italic


.cont_reg_aqui
  text-align center
  margin-top 65px
  a
    padding 1em 4em
    font-size 1.3em
