.pie
  margin-top: 100px
  background-color $verde3
  height 100px
  padding 0
  padding-top 1.8em
  figure, p
    display inline-block
    margin 0
    padding 0
  p
    color white
    padding-left 2em
    margin-top 1.5em
