.highlight
  display block
  height: 150px
  width 100%
  background-color $verde
  box-sizing border-box
  section
    padding 1em
    position relative
    p
      font-size: 1.1em;
      color: #FFFFFF;
      letter-spacing: 0.99px;
      line-height: 22px;
      font-weight 600
      font-style italic
      display inline-block
      width 650px

      span
        display inline-block
        margin-top 1.5em
        font-weight 300

    div
      display inline-block
      width 250px
      position absolute
      right 0
      padding-top 1em
      text-align center
      > a, span
        display block
        color white
      a.mas_info
        font-size 1.1em
        text-transform capitalize
        &:hover
          font-style italic


a.registrate_aqui
  font-size 1.1em
  padding 0.8em 1.1em
  text-transform uppercase
  background-color: $naranja;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  /* REGISTRATE AQUI: */
  color: #FFFFFF;
  letter-spacing: 0.99px;
  line-height: 22px;
  font-weight 400
  text-decoration none
  transition all .5s
  &:hover
    background-color white
    color $verde2



