.que_ofrecemos
  margin-top 100px
  div:first-child
    height 130px
    display block
    background-color: $verde2
    box-sizing border-box
    h2
      text-align center
      padding 1.5em
      font-size 1.9em
      color white
      font-weight:900;
      letter-spacing: 1.65px;
      line-height: 36px;

  .servicios
    display inline-block
    width 50%
    text-align right
    background-color $verde4
    height 550px
    vertical-align top
    &:last-child
      background-color $verde3

    figure
      text-align center
      margin-top 2em
    h4
      /* Tiempo aire electrón: */
      font-weight 600
      font-style italic
      font-size: 1.5em;
      color: #FFFFFF;
      letter-spacing: 1.32px;
      line-height: 24px;
      text-align center
    p
      display block
      padding 0 20%
      text-align left
      color white
      font-size 1em
      margin-bottom 1.5em

    a
      text-align right
      margin-right 4em
      color $verde1
      margin-top 1em

      &:hover
        font-style italic


