.cont_quedicen
  background-color $verde3
  padding 3em 0em 1em 0em
  box-sizing border-box
  margin-top 100px

  .quedicen
    text-align center
    position relative
    display block

    .titulo
      color white
    .parrafo
      color white
      padding 1em 7em
    .nombre_usuario
      color white
      font-weight 900
      font-size 1.3em
      span
        display block
        font-weight 400
        font-size 0.8em!important
        font-style italic
    ul
      list-style none
      text-align center
      padding 0
      margin-top 3em

      li
        display inline-block
        margin 0
        padding 0
        a
          display block
          width 20px
          height 20px
          background url(../images/oval_slider_orange.png) no-repeat center center
          &:hover
          &.active
            background url(../images/oval_slider_white.png) no-repeat center center

