.trabajaras
  margin-top: 100px
  text-align center
  h2
    text-align left
    margin-bottom 1.5em

.pie
  margin-top: 100px
  background-color $verde3
  height 100px
  padding 0
  padding-top 1em
  figure, p
    display inline-block
    margin 0
    padding 0
  p
    color white
    padding-left 1em


